@import 'variables';


#packages{
    background: #fff;
}

#ourcompany{
    background:$primaryColor;
}

#partners{
    height: 500px;
    background:$lightColor;
}

#contactus{
    height: 500px;
    background:$lightColor;
}