@import 'variables';


#packages{
    background: #fff;
    padding-top: 82px;
}

#ourcompany{
    background:$primaryColor;
    padding-top: 82px;
}

#partners{
    height: 500px;
    background:$lightColor;
    padding-top: 82px;
}

#contactus{
    height: 500px;
    background:$lightColor;
    padding-top: 82px;
}