@import 'variables';


#packages{
    background: #fff;
    padding-top: 82px;
}

#ourcompany{
    background:$primaryColor;
    padding-top: 82px;
}

#partners{
    background:$lightColor;
    padding-top: 82px;
}

#contactus{
    background:$lightColor;
    padding-top: 82px;
    padding-bottom: 30px;
}