@import 'variables';

.home-carousel-cont{
    position: relative;
    img{
        width:100%;
    }
    .overlay{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: rgba(44,62,80,.5);
        z-index: 2;
    }
}

/deep/ .carousel {
    .carousel-inner{
        .carousel-item{
            img{
                width: 100%!important;
                height:600px;
            }
        }
    }
    .carousel-caption{
        width: 100%;
        background: rgba(44, 62, 80, 0.5);
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        padding: 25%;
        height: 100%;
        h3{
            margin:10px 0;
        }
        p{
            margin:0;
        }
        button{
            background:$secondryColor;
            border: 0;
            color: #fff;
            border-radius: 4px;
            font-size: 20px;
            margin:10px 0;
            cursor: pointer;
        }
    }
    .carousel-control-prev-icon{
        width: 57px;
        height: 57px;
        background-color: $secondryColor;
        background-size: 30% 30%;
        position: absolute;
        left:0
    }
    .carousel-control-next-icon{
        width: 57px;
        height: 57px;
        background-color: $secondryColor;
        background-size: 30% 30%;
        position: absolute;
        right:0
    }
    .carousel-indicators{
        
        li{
            width:12px;
            height: 12px;
            background-color: $lightColor;
            &.active{
                background-color: $secondryColor;
            }
        }
    }
}


@media (max-width:500px){
    /deep/ .carousel {
        .carousel-inner{
            .carousel-item{
                img{
                    height:300px;
                }
            }
        }
        .carousel-caption{
            padding: 15%;
        }
        .carousel-control-prev-icon{
            width: 30px;
            height: 30px;
        }
        .carousel-control-next-icon{
            width: 30px;
            height: 30px;
        }
        .carousel-indicators{
            
            li{
                width:6px;
                height: 6px;
            }
        }
    }
}