@import 'variables';


// mixins


// generic styles accorss the portal
h3{
    font-size: 30px;
    text-align: center;
    margin:40px 0;
    display: inline-block;
    width:100%;
}

// arabic Styles 

.ar{
    direction: rtl;
    font-family: Tahoma;
    .pull-left{
        float:right !important;
    }
    .pull-right{
        float:left !important;
    }
}



