@import 'variables';


// mixins


// generic styles accorss the portal
h3{
    font:normal 30px Arial;
    text-align: center;
    margin:40px 0;
    display: inline-block;
    width:100%;
}

// arabic Styles 

.ar{
    direction: rtl;
    // .pull-left{
    //     float:right !important;
    // }
    // .pull-right{
    //     float:left !important;
    // }
}



