<div class="container">
  <h3>{{ 'ourcompany' | translate }}
  </h3>
  <p class="text-center">
    {{ 'our_company_brief' | translate }}
  </p>
  <div class="row services">
    <div class="col-md-3 service-item">
        <i class="fa fa-plane" aria-hidden="true"></i>
        <h5>{{ 'aviation_tickets' | translate }}</h5>
        <p>{{ 'aviation_tickets_brief' | translate }}</p>
    </div>
    <div class="col-md-3 service-item">
        <i class="fa fa-bed" aria-hidden="true"></i>
        <h5> {{ 'hotel_reservation' | translate }}</h5>
        <p>{{ 'hotel_reservation_brief' | translate }}</p>
    </div>
    <div class="col-md-3 service-item">
        <i class="fa fa-user-secret" aria-hidden="true"></i>
        <h5> {{ 'VIP_service' | translate }}</h5>
        <p>{{ 'VIP_service_brief' | translate }}</p>
    </div>
    <div class="col-md-3 service-item">
        <i class="fa fa-globe" aria-hidden="true"></i>
        <h5> {{ 'honeymoon_planning_service' | translate }}</h5>
        <p>{{ 'honeymoon_planning_service_brief' | translate }}</p>
    </div>
  </div>
</div>
